    header, nav, main, footer{ 
        width: 960px; 
        padding: 20px; 
        margin-left:auto;  
        margin-right: auto; 
    } 
    header{ 
         /*width: 960px;*/ 
         height: 150px;  
         background-color:#855E6E; 
         /*color: #F7F1E1;*/ 
         color: #F7F1E1; 
    } 
    nav{ 
        background-color:#FFDBD7; 
        text-align: center; 
    } 
    main{ 
        background-color:#855E6E; 
    } 
    footer{ 
        background-color:#F7F1E1; 
         color:#855E6E; ; 
        color: #855E6E; 
    } 

        section , .sec1, .sec2 , .sec3{ 
             width: 650px; 
             background-color:white; 
             color:#855E6E; 
             margin-bottom: 20px; 
             margin-top: 20px; 
             margin-left: auto; 
             margin-right: auto; 
             padding: 30px; 
} 
        h2, h3, p{ 
            margin-bottom: 15px; 
        } 
        h1, h5 { 
            text-align: center; 
        } 
        ul { 
            padding-left: 20px; 
        }              
        nav ul li{ 
            width: 80px; 
            background-color:#F7F1E1; 
            color: black; 
            margin-bottom: 10px; 
            padding: 10px; 
            text-align: center; 
            border-width: 2px; 
            border-color:#FFDBD7; 
            border-style: solid; 
            display: inline-block; 
        } 
        nav ul li a { 
            color:#CE7095; 
            text-decoration: none; 
        } 
        nav ul li:hover { 
            background-color:#CE7095; 
            color: #855E6E; 
            width: 90px; 
        } 
            nav ul li a:hover{ 
                color: white; 
                font-weight: bold; 
                font-size: 15px; 
} 
                    main nav{ 
                        width: 850px; 
                        color: #CE7095; 
                        background-color: transparent; 
                        text-align: center; 
} 
            img{ 
                width: 400px; 
                height: auto; 
                display: block; 
                margin-left: auto; 
                margin-right: auto; 
                margin-top: 20px; 
            } 
           table {
                font-family: arial, sans-serif;
                border-collapse: collapse;
                width: 100%;
}

            td, th {
                border: 1px solid #dddddd;
                text-align: left;
                padding: 8px;
}

            #golden{ 
                width: 400px; 
                float: left; 
                margin-left: 20px; 
} 
        #gos{ 
            width: 300px; 
            float: right; 
            margin-right: 20px; 
        } 
        #toy{ 
            width: 100px; 
        } 

        #imgbackground{
          
            background-image: url("https://img.freepik.com/foto-gratis/arco-iris-al-final-paisaje-carretera_23-2151596720.jpg?w=740&t=st=1729226914~exp=1729227514~hmac=7bcb3b0828f05168fa9cebe89e4e611a82272c7df76fa2a26ac772e7e599e60e");
            width: 650px; 
            color:white; 
            margin-bottom: 20px; 
            margin-top: 20px; 
            margin-left: auto; 
            margin-right: auto; 
            padding: 30px; 

        }

        .textjust{
            text-align: justify;
        }

#comidaFam{
    width: 200px;
    margin-top: 0;
    margin-right: 15px;
    float: left;
}
#amigas{
     width: 200px;
    margin-top: 0;
    margin-right: 10px;
    margin-left: 15px;
    float: right;
}


#filtros_imagen{
    text-align:center;
}
#filtros_imagen img{
    
    display: inline-block;
    width: 30%;
    height: auto;
    padding: 10px;
    
}
#filtros_imagen{
    text-align: center;
    
}
#filtros_imagen img{
    display: inline-block;
    width: 30%;
    height: auto;
    padding: 10px;
}

#img1{
    filter: brightness(200%);
}
#img2{
    filter: contrast(50%);
}
#img3{
    filter: grayscale (100%);
}
#img4{
    filter: invert(100%);
}
#img5{
    filter: opacity(30%);
}
#img6{
    filter: sepia(100%);
}
#img7{
    filter: saturate(150%);
}
#img8{
    filter: blur(10%);
}
#img9{
filter: drop-shadow(10% 10% 20% white);
}
#img10{
    filter: contrast(150%);
    filter: blur(2px);
}
#img11{
    filter: hue-rotate(30deg);
}

iframe, audio{
    display: block;
 margin: 0 auto;
}